body {
    font-family: 'Lobster', 'Sans Serif';
}

h3 {
    border-bottom: 1px ridge blue;
}

@media screen and (max-width: 576px) {
    body .jumbotron {
        background-size: 576px;
        background-position: relative;
        background-size: 100%;
        position: relative;
        height: 100%;
        max-width: 100vw;
        
    }
}

@media screen and (max-width: 768px) {
    body .jumbotron {
        background-size: 768px;
        background-position: relative;
        background-size: 100%;
        position: relative;
        height: 100%;
        max-width: 100vw;
    }
}

@media screen and (max-width: 1000px) {
    body .jumbotron {
        background-size: 1000px;
        background-position: relative;
        background-size: 100%;
        position: relative;
        height: 100%;
        max-width: 100vw;
    }
}

  .img-fluid {
      background-position: relative;
      background-repeat: no repeat;
      background-size: 100%;
      position: relative;
      width: 100%;
      height: 80vmin;
  }

.jumbotron {
    background-image: url("../img/airport-man.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    color: black;
    padding: 0;
    height: 90vmin;
    max-width: 1600px;
    margin-bottom: 0;
    display: block;
    
}

.site-footer {
    
    background-color: blanchedalmond;

        padding: 20px 0;

}

.navBtn {
    border-radius: 21px;
}





