html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: small;
}

/* header css */
.destinationContent {
    border-bottom: 1px ridge lightskyblue;
    padding-bottom: 0.75rem;
}

/* navbar css */
.navbar-light {
    background-color: #225eb3;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

.navBtn {
    border-radius: 21px;
    color: whitesmoke;
}

.faIcon {
    color: whitesmoke;
}

.brand-content {
    color:  whitesmoke !important;
}

button.navbar-toggler {
    border: 0;
}

/* footer css */
li a {
    color: #225eb3;
}

.infoTextContent {
    color: #225eb3;
}

.site-footer {
    background-color: #80c5ff;
    border-top: 1px ridge lightsteelblue;
}

/* card css */
.card-img-top {
    height: 30vh;
}
.destinations {
  height: 60vh;
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 5px 10px #888888;
  overflow: hidden;
}

.btn-outline-success {
    border-color: #80c5ff;
    color: #80c5ff;
}

.btn-outline-success:hover {
    border-color: #80c5ff;
    color: #80c5ff;
    background-color: #f5f9ff;
}

.btn-outline-success:click {
    ba
}

@media (min-width: 576px) {
    p {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 1.0rem;
    }
}